.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #faf8ef;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 80px;
  margin: 0;
  color: #776e65;
}

h2 {
  font-size: 24px;
  color: #776e65;
}
